// Utilities
$spacer: 1rem !default;

// Breakpoints
$breakpoint-xs: 25.875rem !default; // Mobile 414px in 16px
$breakpoint-sm: 48rem !default; // Tablet 768px in 16px
$breakpoint-md: 64rem !default; // Laptop 1024px in 16px
$breakpoint-lg: 75rem !default; // Desktop 1200px in 16px
$columns: 12 !default;

// Colors
$color-transparent: transparent !default;

// White to Black
$color-white: white !default;
$color-grey-lightest: #f2f2f2;
$color-grey-lighter: #e8e9e9;
$color-grey-light: #d1d3d4;
$color-grey-medium: #babdbf;
$color-grey: #808488;
$color-grey-dark: #666a6d;
$color-grey-darker: #4d5052;
$color-grey-darkest: #212122;
$color-black: black !default;

// Color
$color-primary: #3f51b5 !default;
$color-secondary: #ffb500 !default;
$color-blue: #3273dc !default;
$color-purple: #9c27b0 !default;
$color-pink: #e91e63 !default;
$color-red: #f44336 !default;
$color-orange: #fd7e14 !default;
$color-yellow: #ffc107 !default;
$color-green: #8bc34a !default;
$color-indigo: #4b0082 !default;

// Colors Map
$colors: (
  "transparent": ($color-transparent, black),
  "white": ($color-white, black),
  "grey-lightest": ($color-grey-lightest, black),
  "grey-lighter": ($color-grey-lighter, black),
  "grey-light": ($color-grey-light, black),
  "grey-medium": ($color-grey-medium, black),
  "grey": ($color-grey, black),
  "grey-dark": ($color-grey-dark, black),
  "grey-darker": ($color-grey-darker, white),
  "grey-darkest": ($color-grey-darkest, white),
  "black": ($color-black, white),
  "primary": ($color-primary, white),
  "secondary": ($color-secondary, black),
  "blue": ($color-blue, white),
  "purple": ($color-purple, white),
  "pink": ($color-pink, white),
  "red": ($color-red, white),
  "orange": ($color-orange, white),
  "yellow": ($color-yellow, black),
  "green": ($color-green, white),
  "indigo": ($color-indigo, white),
);

// Shadows
$shadows: (
  'base': '0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)',
  'sm': '0 4px 6px 2px rgba(0, 0, 0, 0.1), 0 4px 6px 2px rgba(0, 0, 0, 0.06)',
  'md': '0 4px 6px 2px rgba(0, 0, 0, 0.1), 0 4px 6px 2px rgba(0, 0, 0, 0.06)',
  'lg': '0 10px 15px 4px rgba(0, 0, 0, 0.1), 0 10px 15px 4px rgba(0, 0, 0, 0.05)',
  'xl': '0 20px 25px 8px rgba(0, 0, 0, 0.1), 0 20px 25px 8px rgba(0, 0, 0, 0.04)',
  '2xl': '0 25px 50px 16px rgba(0, 0, 0, 0.25)',
);

//Font Families
$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$monospace-font-family: Consolas, Monaco, "Courier New", monospace !default;

$body-background-color: #ffffff !default;
$hr: 1px solid #ccc !default;

//Font Sizes
$font-size: 1rem;
$font-size-smaller: $font-size - 0.25rem !default;
$font-size-small: $font-size - 0.15rem !default;
$font-size-big: $font-size + 0.15rem !default;
$font-size-large: $font-size + 0.25rem !default;

//Line Height
$line-height: 1.5 !default;
$line-height-smaller: 1 !default;
$line-height-small: 1.25 !default;
$line-height-big: 1.75 !default;
$line-height-large: 2 !default;
$body-color: $color-black;
$headings-color: inherit;

$color-link: $color-primary;
$color-link-hover: $color-primary;

$container: 54rem !default;
$container-big: 64rem !default;
$container-extra: 74rem !default;
$container-no-padding: 53rem !default;

//Headings
$headings-font-weight: 700 !default;
$heading-font-size-1: 3rem !default;
$heading-font-size-2: 2.25rem !default;
$heading-font-size-3: 1.75rem !default;
$heading-font-size-4: 1.25rem !default;
$heading-font-size-5: 1.15rem !default;
$heading-font-size-6: 1rem !default;

// Hero
$hero-height: 20rem;
$hero-height-desktop: 20rem;
$hero-title: 2rem;
$hero-title-desktop: 3rem;

// Navbar
$navbar-breakpoint: $breakpoint-sm;
$navbar-bg-color: white;
$navbar-link-color: black;
$navbar-font-size: 1rem;
$navbar-padding: 0.75rem 1rem;
$navbar-offside-width: 280px;
$navbar-trigger-size: 1.5rem;

// Buttons
$button-font-size: 1rem;
$button-padding: 0.75rem 1.25rem;
$button-margin: 0.5rem 0;
$button-default-bg: $color-grey-lighter;
$button-default-color: $color-black;
$button-default-bg-hover: $color-grey-light;

// Overlay
$overlay-background: $color-white !default;
$overlay-opacity: 0.75;

