.container,
.container-big,
.container-extra {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 100%;
}

.container {
  width: $container;
}

.container-big {
  width: $container-big;
}

.container-extra {
  width: $container-extra;
}

.container-fluid {
  padding: 1rem;
  max-width: 100%;
  width: 100%;
}

.no-gap {
  padding: 0;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.self-stretch {
  align-self: stretch;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(0, 1fr);

  &.no-gap {
    gap: 0;
  }

  .column {
    padding: 1rem;
  }
}

.grid-inline {
  display: inline-grid
}


.fw {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw
}