*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  max-width: 100%;
}

img,
video {
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button:focus,
.btn:focus {
  outline: 0;
}

p img {
  margin-bottom: 1rem;
}

textarea {
  resize: vertical;
}

::placeholder {
  font: inherit;
}

[role="button"] {
  cursor: pointer;
}

label[for] {
  cursor: pointer;
}

[tabindex="-1"]:focus {
  outline: none;
}

progress {
  vertical-align: baseline;
}

pre {
  overflow: hidden;
  font-family: inherit;
}

dt {
  font-weight: bold;
  text-decoration: underline;
}

dd {
  margin: 0;
  padding: 0 0 0.5em 0;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

figure {
  margin-bottom: 1rem;
}

fieldset {
  padding: 1rem;
}

// IE

template {
  display: none;
}

[hidden] {
  display: none;
}
