.alert {
  margin-bottom: 1rem;
  display: block;
  padding: .5rem 1rem;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-close {
  margin-left: 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1rem;
  height: 24px;
  width: 24px;
  text-align: center;
  background-color: rgba(#ffffff, 0.2);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

@each $name, $value in $colors {
  .alert-#{$name} {
    background-color: nth($value, 1) !important;
    color: nth($value, 2);
  }
}