.btn {
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  max-width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 0.3s ease;
  user-select: none;

  &:focus,
  &:hover {
    background-color: #dedede;
    color: #333;
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
}

.btn-block {
  display: block;
  width: 100%;
  margin: 0 auto;
}

// Sizes

.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.btn-sm {
  padding: 0.35rem 0.75rem;
  font-size: 1rem;
}

.btn-md {
  padding: 0.65rem 1.25rem;
  font-size: 1.25rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
}

// Colors

@each $name, $value in $colors {
  .btn-#{$name} {
    background-color: nth($value, 1);
    color: nth($value, 2);
    border: 1px solid nth($value, 1);

    &:hover,
    &:focus,
    &:active,
    &.active,
    &:active:hover,
    &:active:focus {
      background-color: darken(nth($value, 1), 15%);
      border: 1px solid darken(nth($value, 1), 15%);
      color: nth($value, 2);
    }

    &.btn-3d {
      border-bottom: 5px solid darken(nth($value, 1), 25%);
    }

    &.btn-outline {
      background-color: transparent;
      border-color: nth($value, 1);
      color: nth($value, 1);

      &:hover,
      &:focus,
      &:active,
      &.active,
      &:active:hover,
      &:active:focus {
        background-color: nth($value, 1);
        color: nth($value, 2);
      }
    }
  }
}
