.card {
  background-color: white;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;

  .card-header,
  .card-footer {
    padding: 1rem;
  }

  .card-body {
    padding: 0.5rem 1rem;
  }

  .card-image {
    margin: 0;

    img {
      width: 100%;
    }
  }

  .card-title {
    font-size: 1.25rem;
    margin-bottom: .75rem;
  }

  .card-footer {
    margin-top: auto;
    .btn {
      width: auto;
    }
  }
}
