.masonry {
  padding: 0;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
  display: block;
}

.masonry > div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  background: #fff;
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 100%;
}

.masonry > div img {
  width: 100%;
  margin-bottom: 0;
}