.float-right {
  float: right;
}

.float-left {
  float: right;
}

.float-none {
  float: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.to-top {
  top: 0;
}

.to-bottom {
  bottom: 0;
}

.to-left {
  left: 0;
}

.to-right {
  right: 0;
}

.to-none {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
