.mobile {
  display: block !important;
}

.desktop {
  display: none !important;
}

@media (min-width: $breakpoint-md) {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: block !important;
  }

  .grid {
    &.columns-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.columns-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.columns-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    &.columns-5 {
      grid-template-columns: repeat(5, 1fr);
    }

    &.columns-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
