.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important
}

.text-uppercase {
  text-transform: uppercase !important
}

.text-lowercase {
  text-transform: lowercase !important
}

.text-capitalize {
  text-transform: capitalize !important
}

.text-underline {
  text-decoration: underline !important
}

.text-line-through {
  text-decoration: line-through !important
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.font-italic {
  font-style: italic !important
}

.font-100 {
  font-weight: 100 !important;
}

.font-200 {
  font-weight: 200 !important;
}

.font-300 {
  font-weight: 300 !important;
}

.font-400 {
  font-weight: 400 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.font-800 {
  font-weight: 800 !important;
}

.font-900 {
  font-weight: 900 !important;
}